<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Space War</title>
</head>

<link rel="stylesheet" href="SpaceWarStyleSheet.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="SpaceWarScripts.js"></script>

<body ng-app="myApp" ng-controller="myCtrl">
	<div class="center">
		<label class="info" id="message"></label>
		<button id="start" ng-click="startStopClick()">Start</button>
		<button id="nextLevel" ng-click="nextLevelClick()" style="display:none">Next Level</button>
		<button id="retry" ng-click="retryClick()" style="display:none">Retry</button>
		<canvas id="field" width="1024" height="768" />
	</div>
	<div>
		<label id="info" />
	</div>
	<div>
		<label id="info2" />
	</div>
</body>
</html>